@import "../../style_utils/mixins";

.Confirmation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #83EC68;
  border-radius: 40px;
  background-image: url(../../../public/images/Confirmation/confirmationDesktop.svg);
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 105%;

  max-width: 1115px;
  height: 720px;

  padding: 0 10px;

  @include onTablet {
    background-image: url(../../../public/images/Confirmation/confirmationTablet.svg);
    background-position: 50% 30%;
    background-size: 109%;

  }

  @include onMobile {
    background-image: url(../../../public/images/Confirmation/confirmaionMobile.svg);
    background-position: 50% 50%;
    background-size: 113%;

    height: max-content;
  }

  &__title {
    width: 334px;
    height: 59px;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.08em;

    color: #fff;
    margin: 115px 0 30px;

    @include onTablet {
      margin-top: 122px;
      width: auto;
    }

    @include onMobile {
      font-size: 16px;
      margin-top: 30px;
      width: auto;
    }
  }

  &__text {
    height: 20px;
    margin-bottom: 6px;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;

    color: #fff;
  }

  &__input {
    box-sizing: border-box;
    padding: 12px 16px;

    width: 100%;
    height: 48px;

    border: 1px solid #D0D5DD;

    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    margin: 0 auto 32px;
  }

  &__calendar-text {
    width: 188px;
    height: 20px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;

    letter-spacing: -0.5px;

    color: #fff;
  }

  &__checkbox-label {
    width: 212px;
    display: flex;
    margin: 0 auto 20px;
  }

  &__appointment {
    border: 1px solid #FFFFFF;
    height: 62px;
    width: 250px;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    background: #82E867;
    border-radius: 40px;

    font-family: 'Oxygen';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    color: #fff;

    @include onMobile {
      margin-bottom: 47px;
      width: 250px;
      height: 62px;
    }
  }

  &__form {
    width: 100%;
    max-width: 480px;
  }
}   