.AuthFree {
    display: flex;
    flex-direction: column;
    background: #83EC68;
    width: 1197px;
    height: 632px;
    border-radius: 40px;
    box-shadow: 0 36px 47px rgba(0, 0, 0, 0.25);
    background-image: url(../../../public/images/rectangle.svg);
    background-repeat: no-repeat;
    // background-size: 135%;

    &__title {
        margin:  40px auto 30px;
        font-family: Fira Sans;
        font-size: 34px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0.08em;
        text-align: left;

        width: 562px;
        height: 44px;

        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 130%;
        /* or 44px */

        letter-spacing: 0.08em;

        color: #FFFFFF;
    }

    &__Registration {
        margin: 0 auto 60px;
    }

    &__continue-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 27px;

        position: absolute;
        width: 250px;
        height: 62px;

        background: #82E867;
        border: 0;
        border-radius: 40px;
        margin-left: 515px;

        font-family: 'Oxygen';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */


        color: #FFFFFF;

    }

    &__text {
        // display: block;
        width: 482px;
        height: 63px;
        margin: 0 auto 30px;

        font-family: 'Oxygen';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        /* or 21px */

        text-align: center;
        letter-spacing: 0.08em;

        color: #FFFFFF;
    }

    &__button-patient {
        display: flex;
        flex-direction: row;
        // align-items: flex-start;
        align-items: center;
        justify-content: center;
        // padding: 14px 18px;
        gap: 10px;

        width: 200px;
        height: 48px;

        background: #ED5B5B;
        border: 0;
        border-radius: 40px 0 0 40px;

        flex: none;
        order: 0;
        flex-grow: 0;

        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        /* identical to box height, or 100% */

        text-align: center;
        letter-spacing: 0.07em;

        color: #FFFFFF;
    }

    &__button-doctor {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        // padding: 14px;
        gap: 10px;

        width: 200px;
        height: 48px;

        background: #FFFFFF;
        border: 0;
        border-radius: 0 40px 40px 0;

        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;

        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        /* identical to box height, or 100% */

        text-align: center;
        letter-spacing: 0.07em;

        color: #000000;
    }

    &__button-role {
        margin: 0 auto 9px;
        display: flex;
    }
}   