@import "../../style_utils/mixins";

.AuthFree {
    display: flex;
    flex-direction: column;
    background: #83EC68;
    max-width: 1197px;
    border-radius: 40px;
    box-shadow: 0 36px 47px rgba(0, 0, 0, 0.25);
    background-image: url(../../../public/images/Auth/authDesktop.svg);
    background-position: 50% 40%;
    background-size: 105%;               
    background-repeat: no-repeat;

    @include onTablet {
        background-image: url(../../../public/images/Auth/authTablet.svg);
        background-size: cover;
        width: auto;
        height: max-content;
    }

    @include onMobile {
        background-image: url(../../../public/images/Auth/authMobile.svg);
        width: auto;
        height: max-content;
    }

    &__title {
        text-align: center;
        display: block;
        margin:  40px auto 30px;

        width: max-content;
        height: 44px;

        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 130%;

        letter-spacing: 0.08em;

        color: #FFFFFF;

        @include onTablet {
            font-size: 20px;
            width: min-content;
            font-size: 20px;
        }

        @include onMobile {
            margin: 30px auto 20px;
            width: min-content;
            font-size: 16px;
        }
    }

    &__Registration {
        max-width: 100%;
        margin: 0 auto 60px;

        @include onTablet {
            margin-bottom: 0;
        }

    }

    &__continue-button {
        width: 250px;
        height: 62px;

        border: 1px solid #FFFFFF;
        background: #82E867;
        border-radius: 40px;

        font-family: 'Oxygen';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;

        color: #fff;

        margin: 0 auto 32px;

        @include onTablet {
            display: none;
            width: auto;
            margin: 0 auto 47px;
        }

        @include onMobile {
            margin: 0 auto 47px;
        }

    }

    &__text {
        max-width: 482px;
        height: 63px;
        margin: 0 auto 30px;

        font-family: 'Oxygen';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;

        text-align: center;
        letter-spacing: 0.08em;

        color: #FFFFFF;

        @include onTablet {
            font-size: 14px;
        }

        @include onMobile {
            margin-bottom: 0;
        }
    }

    &__button-patient {
        width: 200px;
        max-width: 50%;
        
        height: 48px;

        background: #ED5B5B;
        border: 0;
        border-radius: 40px 0 0 40px;

        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;

        letter-spacing: 0.07em;

        color: #FFFFFF;

        @include onMobile {
            border-radius: 40px;
            margin-bottom: 10px;
            max-width: 100%;
        }
    }

    &__button-doctor {
        width: 200px;
        max-width: 50%;
        height: 48px;

        background: #FFFFFF;
        border: 0;
        border-radius: 0 40px 40px 0;

        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;

        letter-spacing: 0.07em;

        color: #000;

        @include onMobile {
            border-radius: 40px;
            max-width: 100%;
        }

    }

    &__button-role {
        margin: 0 auto 9px;
        max-width: 400px;
        width: 100%;

        @include onMobile {
            display: flex;
            flex-direction: column;
            width: 200px;
        }
    }
}   