.AuthFree {
    display: flex;
    flex-direction: column;
    background: #83EC68;
    width: 1197px;
    height: 632px;
    border-radius: 40px;
    box-shadow: 0 36px 47px rgba(0, 0, 0, 0.25);
    background-image: url(../../../public/images/rectangle.svg);
    background-repeat: no-repeat;
    // background-size: 135%;

    @media(max-width: 765px) {
        width: auto;
        height: max-content;
    }

    &__title {
        display: block;
        margin:  40px auto 30px;

        width: max-content;
        height: 44px;

        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 130%;

        letter-spacing: 0.08em;

        color: #FFFFFF;

        @media(max-width: 765px) {
            width: min-content;
            font-size: 30px;
        }
    }

    &__Registration {
        margin: 0 auto 60px;
    }

    &__continue-button {
        width: 250px;
        height: 62px;

        background: #82E867;
        border: 0;
        border-radius: 40px;
        margin-left: 515px;

        font-family: 'Oxygen';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;

        color: #fff;

        @media(max-width: 765px) {
            margin: 0 auto 47px;
        }

    }

    &__text {
        width: 482px;
        height: 63px;
        margin: 0 auto 30px;

        font-family: 'Oxygen';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;

        text-align: center;
        letter-spacing: 0.08em;

        color: #FFFFFF;
    }

    &__button-patient {
        width: 200px;
        height: 48px;

        background: #ED5B5B;
        border: 0;
        border-radius: 40px 0 0 40px;

        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;

        letter-spacing: 0.07em;

        color: #FFFFFF;

        @media(max-width: 765px) {
            border-radius: 40px;
            margin-bottom: 10px;
        }
    }

    &__button-doctor {
        width: 200px;
        height: 48px;

        background: #FFFFFF;
        border: 0;
        border-radius: 0 40px 40px 0;

        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;

        letter-spacing: 0.07em;

        color: #000;

        @media(max-width: 765px) {
            border-radius: 40px;
        }
    }

    &__button-role {
        margin: 0 auto 9px;

        @media(max-width: 765px) {
            display: flex;
            flex-direction: column;
        }
    }
}   